/*
 Created by MAD Students
 Copyright St. Clair College & St. Clair MAD Club
 Last Modified: Dec. 17 2017
*/

body, html {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5 {
  font-weight: 400;
}

p { font-weight: 300; }

/* Styles for text */
.center { text-align: center; }
.justify { text-align: justify; }

/* Fixes the carousel issue */
.carousel-item {
  width: 100%;
  max-width: 100%;
  height: auto;
}


